<h1><%= @place["name"] %></h1>

<h3>My Posts</h3>
<% for post in @posts %>
  <% if current_user && post.user_id == current_user.id %>
  <h4><%= post["title"] %></h4>
  <h6><%= post["posted_on"] %></h6>
  <p><%= post["description"] %></p>
  <% end %>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">Add New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>